@import "utils/_variables.scss";

@mixin flex-center {
    display: flex;
    justify-content: center;
}

body {
    margin:0;
    padding:0;
    }

h2, h3 {
    font-family: 'Roboto';
}

p, a {
    font-family: 'Roboto-Light';
}

h1 {
    font-family: 'Shrikhand';
}

.directionRow {
    display: flex;
    flex-direction: row;
}

.directionColumn {
    display: flex;
    flex-direction: column;
}

header {
    margin: 0;
    padding:20px 0 10px 0;
    box-shadow: 0 0 5px 0 grey;
    position: relative;
    z-index: 1;
}

.logo, nav h4 {
    @include flex-center();
    img {
        width: 60%;
    }
}

nav {
    position: relative;
    z-index: auto;
   
}


.location {
    padding: 5px 0 5px 0;
    margin: 0 0 0 0;
    font-family: 'Roboto-Light';
    background-color: $background-grey;

    i {
        margin-right: 10px;
    }

}

.nav {
    background-color: $background-sweet-grey;
    padding: 5px 0 40px 0;
    text-align: center;

     &_button {
        width: 60%;
        text-decoration: none;
        text-align: center;
        margin-top:10px;
        margin-left: auto;
        margin-right: auto;
        border-color: inherit;
        color:white;
        font-family: 'Roboto-Light';
        border-radius: 25px;
        padding: 15px 0 15px 0;
        box-shadow: 0 2px 10px 0px grey;
        background: linear-gradient(177deg, $color-secondary, $color-primary);

        &:hover {
            opacity:0.5;
        }
     }
}


.fonctionnement {
    margin: 50px 0 0 20px;
    

    div {
        width: 90%;
        margin: 20px 0 0 10px;
        padding: 10px 0 10px 0;
        justify-content: center;
        align-items: center;
        background-color: $background-sweet-grey;
        box-shadow: 0 0 10px 0 $background-clar-grey;
        border-radius: 20px;

        i {
            position: relative;
            left: 0;
            width: auto;
            margin-right: 5px;
            @media  screen and (min-width:400px) {
                margin-right: 40px;
            }
        }


    }

    div .icon-number {
        position: absolute;
        left: 1%;
        margin-top: 0;
        text-align: center;
        color:white;
        background-color: $color-primary;
        width:22px;
        height: 22px;
        padding:5px;
        border-radius: 25px;

    }
}

.restaurants {
    margin:50px 0 0 0;
    padding: 50px 30px 15px 30px;
    background-color: $background-sweet-grey;



        div {
            width: 100%;
            margin: 20px 0 40px 0;
            padding: 0 0 10px 0;
            position: relative;
            left: auto;
            right: auto;
            border-radius: 20px;
            box-shadow: 0 0 10px 0 $background-clar-grey;
        }

        img {
            width: 100%;
            height: 200px;
            display: flex;
            text-align: center;
            border-radius: 20px 20px 0 0;
            object-fit: cover;
        }

        h2 {
            margin : 0 0 50px 0;
        }

        h3, p { 
            margin: 10px 0 0 20px;
        }

        i {
            position: absolute;
            right: 20px;
            bottom: 30px;
            opacity: 1;    
                
                &:hover {
                    opacity:0;
                }

            }

            .icon-hover { 
                position: absolute;
                right: 20px;
                bottom: 30px;
                opacity: 0;
                }

            
            .icon-hover{
                &:hover {
                    opacity:1;
                    background: -webkit-linear-gradient($color-primary, $color-secondary);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                } 
                    
            }    
        }
            
        
    



